
.container{
    @apply flex flex-col justify-start items-center w-full  h-[250px]  rounded-lg bg-white transition-all duration-200 ease-in-out hover:scale-105 hover:cursor-pointer shadow-lg hover:shadow;
    
}
.imagecontainer {
    width: 100%;
    height: 70%;
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.imageWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.photo {
 @apply rounded-t-lg;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.infocontainer{
    @apply p-1;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;


}

.titlecontainer{
    @apply flex flex-row justify-center items-center w-full border-b border-gray-100;
}
.name {
    @apply text-xl tracking-tight font-semibold text-gray-800  ;
}
.gender {
    @apply text-sm font-light text-gray-600 px-1;
}
.pairingconatiner {
    @apply mt-2 text-xs font-light text-gray-400;
}

.gene{
    @apply text-xs  font-light tracking-tight text-gray-500 px-[6px] py-[2px] bg-gray-100;
}

.genescontainer{
    @apply px-2 w-full  flex flex-wrap gap-1 ;
}

.label{
    @apply flex flex-row items-center w-full  mx-[2px] px-[2px] py-[1px] ;
}

.gecko{
    @apply text-xs font-light tracking-tight text-gray-500 mx-[2px] px-[2px] py-[1px];
}
.snake{
    @apply text-xs font-light tracking-tight text-gray-500 mx-[2px] px-[2px] py-[1px];
}

.pairing{
    @apply tracking-tight text-slate-400 mx-[2px];
    font-size: 0.70rem/* 12px */;
    line-height: 1rem/* 16px */;
}