
.container{
    @apply flex flex-col justify-start items-center w-full  h-[300px]  rounded-lg bg-white shadow transition-all duration-200 ease-in-out hover:scale-105 hover:cursor-pointer hover:shadow;
    
}
.imagecontainer {
    width: 100%;
    height: 80%;
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.imageWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.photo {
 @apply rounded-t-lg;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.infocontainer{
    @apply px-2 pt-2;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.name {
    @apply text-lg font-semibold text-gray-800;
}
.gender {
    @apply text-sm font-light text-gray-600 px-1;
}
.pairingconatiner {
    @apply mt-2 text-xs font-light text-gray-400;
}

.gene{
    @apply text-xs font-light text-gray-500 mx-[2px] px-[2px] py-[1px] border bg-slate-100;
}

.label{
    @apply flex flex-row justify-center items-center  mx-[2px] px-[2px] py-[1px] ;
}